body{
    background-color:aquamarine;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border-style: dotted;
    border-radius: 20px;
    padding: 0 20px 0 20px;
}

h1, h2, button{
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.willU{
    
}

button{
    margin-top: 20px;
    padding-top:6px;
}

.btn-yes:hover{
    background-color: green;
    transition: all 0.5s ease-in-out;
    transform: scale(3);
}

.btn-no:hover{
    position: relative;
    background-color: red;
    color: aliceblue;
    animation: fall 4s ease-in;
    animation-fill-mode: forwards;
}

@keyframes fall{
    from{transform: translateY(0) rotate(0deg);}
    to{transform: translateY(300px) rotate(50deg)}
}